.cardContainer {
  width: 80%;
}

.postCardForm {
  padding: 30px;
  margin: 40px auto;
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  background-color: #ffcab1;
  border-radius: 10px;
}

.cardField {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

legend {
  font-size: 18px;
  color: #3d405b;
}

#image {
  width: 100%;
  border-radius: 2%;
}

#description {
  padding: 7px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions > *{
  padding: 0 5%;
  margin: 0 2%;
}

button{
  background-color: #8cc084;
  border-radius: 10%;
  color: #3d405b;
  font-size: 16px;
  padding: 16px 32px;
  cursor: pointer;
}