#createContainer {
  width: 80%;
}

#createPostForm {
  padding: 30px;
  margin: 40px auto;
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  background-color: #E0CDCC;
  border-radius: 10px;
}

legend {
  font-size: 18px;
  color: #3d405b;
}

.field > input,
textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #968e85;
  background: transparent;
  margin-bottom: 10px;
  height: 45px;
}

input:focus,
textarea:focus {
  outline-style: none;
}

::placeholder {
  color: #3d405b;
  font-size: 15px;
  font-family: "Karla", sans-serif;
}

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0.3;
}

.buttonSubmit {
  padding: 19px 39px 18px 39px;
  background: #FF0;
  font-size: 18px;
  width: 100%;
  border: 1px solid #dfcf03;
  border-width: 1px 1px 3px;
  margin: 10px 0 10px 0;
  color: #3d405b;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  font-family: "Karla", sans-serif;
}

.buttonSubmit:hover {
  background: #dfcf03;
}

.buttonSubmit:focus {
  outline: none;
  background: #dfcf03;
}

.buttonSubmit:active {
  box-shadow: 0 5px #3d405b;
  transform: translateY(4px);
  background: #FF0;
}

#description {
  word-break: break-word;
}

textarea {
  overflow: hidden;
  height: 70px;
}
