.main_content {
  margin: auto;
  width: 70%;
  height: 100%;
  background-color: #C1D7AE;
  justify-content: center;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
