.mainContent {
  justify-content: center;
  height: calc(100% - 50px);
  overflow: auto;
  padding: 0 15% 0 15%;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #c1d7ae;
  height: auto !important;
  min-height: 100%;
}
