.cardContainer {
  margin: 20px 0;
  width: 80%;
}

.postCardForm {
  padding: 30px;
  /* margin-bottom: 20px;
  margin-top: 20px; */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  background-color: #ffcab1;
  border-radius: 10px;
}

.cardField {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ownerName {
  font-size: 18px;
  color: #3d405b;
}

#description {
  padding: 7px;
}

#image {
  width: 100%;
}

.actions {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.button,
.likes {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 0 5px;
  margin: 0 5px;
}

.button:hover {
  border-radius: 8px;
  font-size: 20px;
  background-color: #8cc084;
}
