#site_header {
  background-color: #968e85;
  font-size: 18px;
  height: 50px;
}

.navBar {
  height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#greetUser, #site_header > nav > a {
  color: white;
  text-decoration: none;
}

#site_header > nav > div > a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.navBar > * {
  padding: 0 25px;
}

#greetUser{
  color: #3d405b;
  font-weight: bold;
}