#site_header {
  background-color: #968E85;
  font-size: 18px;
  height: 50px;
}

.navBar {
  height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#site_header > nav > a {
  color: white;
  text-decoration: none;
  margin-left: 5%;
}

#site_header > nav > div > a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

#site_header > nav > div {
  margin-right: 3%;
}

#guest > a{
margin-left: 40px;
}
