#site_header {
  background-color: #E0CDCC;
  font-size: 18px;
  height: 50px;
}

.navBar {
  height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#greetUser,
#site_header > nav > a {
  color: #3d405b;
  text-decoration: none;
}

#site_header > nav > div > a {
  color: #3d405b;
  font-weight: bold;
  text-decoration: none;
/*   padding: 10px;
 */}

.navBar > * {
  padding: 0 25px;
}

#greetUser {
  color: #3d405b;
  font-weight: bold;
}
.logoContainer {
  width: 10%;
  height: 100%;
}
.logo {
  height: 100%;
  width: 100%;
}
